<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    
    <add key="ZCXJ_CS.UI.FormPrintPlugin" value="1"/>
    <add key="ZCXJ_CS.UI.FormAddMaterialPlugin" value="2"/>

    <!--OP010-01相关-->
    <add key="MsgDB" value="101"/>
    <add key="Process" value="彩盒上料"/>
    <add key="MachineId" value="OP010-01"/>
    <add key="EquipmentNO" value="L01.OP010.01"/>

    <add key="EQCServerIP" value="127.0.0.1"/>
    <add key="EQCServerPort" value="6543"/>
    <add key="MESServerIP" value="127.0.0.1"/>
    <add key="MESServerPort" value="6543"/>
    <add key="URL" value="http://www.easycare-oem.com/"/>


  </appSettings>
</configuration>
