<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="ZCXJ_CS_DB" connectionString="Data Source=.\DB\ZCXJ_CS_DB.db" providerName="System.Data.SQLite" />
  </connectionStrings>

  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <!-- provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" /-->
    </providers>
  </entityFramework>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description="Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".Net Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  
  <appSettings>
    <add key="ZCXJ_CS.UI.FormPrintPlugin" value="1"/>
    <add key="ZCXJ_CS.UI.FormProcessViewPlugin" value="0"/>
    <add key="ZCXJ_CS.UI.FormMateriaCheckPlugin" value="0"/>
    <add key="ZCXJ_CS.UI.FormWorkTicketPlugin" value="0"/>
    <add key="ZCXJ_CS.UI.FormProdMonitorPlugin" value="0"/>
    <add key="ZCXJ_CS.UI.FormTeamHandoverPlugin" value="0"/>
    <add key="ZCXJ_CS.UI.FormQualityPlugin" value="0"/>
    <add key="ZCXJ_CS.UI.FormCallEventPlugin" value="0" />
    <add key="ZCXJ_CS.UI.FormTurnoverCardPlugin" value="0"/>
    <add key="ZCXJ_CS.UI.FormTestPlugin" value="0"/>

    <add key="ScadaDataFile" value="z:\MES_HX.db3"/>
    <add key="ScadaDataTableName" value="T_PT_SCADA"/>
    <add key="SpScannerPortName" value="COM3"/>
    <!-- I_MES_PRODUCE_01 -->
    <add key="API_DownWorkTicket" value="jfly.openapi/produce/plan/v1"/>
    <!-- I_MES_PRODUCE_02 -->
    <add key="API_DownProductBom" value="jfly.openapi/produce/bom/v1"/>
    <!-- I_MES_BASE_03 -->
    <add key="API_QueryUser" value="jfly.openapi/base/userQuery/v1" />
    <!-- I_MES_JOB_04 -->
    <add key="API_UpTeamHandover" value="jfly.openapi/job/shiftHandover/v1" />
    <!-- I_MES_JOB_05 -->
    <add key="API_UpEventCall" value="jfly.openapi/job/eventCall/v1" />
    <!-- I_MES_JOB_01 -->
    <add key="API_UpTurnOverCard" value="jfly.openapi/job/turnoverCard/v1" />
    <!-- I_MES_BASE_04 -->
    <add key="API_DownQualityStandard" value="jfly.openapi/base/prodQualityStandard/v1" />
    <!--打印相关-->
    <add key="TypeCode_Detail" value="100"/>
    <add key="DetailCountsInOnePage" value="27"/>
    <add key="DetailRowInterval" value="25"/>
    <add key="Y_Offset_Detail" value="0"/>
    <add key="Y_Offset_A4" value="50"/>
    <add key="Y_Offset_A5" value="110"/>
    <add key="Y_Interval_3A4" value="375"/>
    <add key="X_Offset_Rotate" value="820"/>

    <!--OP010-01相关-->
    <add key="MonitorTagAdd" value="DB100.DBW0"/> 
    <add key="SimWrite" value="false"/> 
    <add key="MsgDB" value="101"/>   
    <add key="Process" value="清洗工序"/>
    <add key="MachineId" value="OP010-01"/>
    <add key="EquipmentNO" value="L01.OP010.01"/>
    <add key="WorkOrder" value="ZDFM180318001"/>
    <add key="MachineIP" value="10.230.4.10"/>
    <add key="PlcIP" value="192.168.30.10"/> 
    <add key="ServerIP" value="10.230.120.105"/>
    <add key="ServerPort" value="8080"/>
    <add key="ServerIP_BK" value="127.0.0.1"/>

    <!--OP130-02相关-->
    <!--<add key="MonitorTagAdd" value="DB100.DBW20"/>
    <add key="SimWrite" value="false"/>
    <add key="MsgDB" value="101"/>
    <add key="MsgStart" value="256"/>
    <add key="Process" value="制成工序"/>
    <add key="MachineId" value="OP130-02"/>
    <add key="EquipmentNO" value="L01.OP130.02"/> 
    <add key="MachineIP" value="10.230.4.10"/>
    <add key="PlcIP" value="192.168.30.10"/>
    
    <add key="ServerIP" value="10.230.4.32"/>
    <add key="ServerPort" value="8080"/>
    <add key="ServerIP_BK" value="127.0.0.1"/>-->
    <!--19702QW-D29-F07B5AA33N-->
  </appSettings>
</configuration>
